
#main-github{
  /* border: 1px solid #d90d0d; */
    width: 90%;
    height: auto;
    margin: auto;
    color: #bdbddd;
    padding-top: 40px;
}

#main-github>h1{
  text-decoration-line: underline;
  color: #8cbcc4;
}

.react-activity-calendar{
  padding: 10px;
  margin: auto;
}


.github-description{
  /* border: 1px solid #d70c0c; */
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 3px;
    text-align: center;
}

.github-description>p{
    margin: 4px;
    font-size: 20px;
    display: flex;
    justify-content: center;
 }

 .github-description>p>span{
    font-size: 25px;
    color: #ecdcc1;
 }

 .git-statistics{
  /* border: 1px solid #c31717; */
  display: flex;
  width: auto;
  margin: auto;
  justify-content: space-evenly;
 }

 

 .git-statistics>div{
    width: 350px;
    height: 150px;
 }

 @media (max-width: 800px) {
    .github-description{
        width: auto;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(6,1fr);
        gap: 2px;
        text-align:center;
    }
      
    .git-statistics{
         width: 90%;
         height: auto;
         gap: 20px;
         flex-direction: column;
       }
      
       
      
       .git-statistics>div{
        margin: auto;
          width: auto;
          height: 150px;
       }

     

 }



