#skills{
  /* border: 1px solid red; */
  height: auto;
  width: 90%;
  padding: 30px;
  margin: auto;
}

#skills>h1{
    text-decoration-line: underline;
    color: #8cbcc4;
  }

.skills_icons{
    /* border: 1px solid #0fb232; */
    padding: 10px;
    height: auro;
    width: 80%;
    margin: auto;
    padding: 40px;
    color: #0fb232;
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(6,1fr);
    gap: 15px;
    transition: padding 2s ;
}



.skills_icons > div {
    height: 150px;
    width: 150px;
    padding: 40px;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    text-align: center;
}

.skills_icons > div:hover {
   transition: 0.8s;
   padding: 30px;
   color:#1beb3e;
}


.skills_icons > div >svg{
    height: 100%;
    width: 100%;
}



.skills_icons > div >h6{
font-size: 0.8rem;
 
}


@media  (max-width:800px){

    .skills_icons{
        top: 20px;
         grid-template-rows: repeat(3,1fr);
         grid-template-columns: repeat(4,1fr);
     }

     .skills_icons > div {
        height: 80px;
        width: 100px;
        padding: 20px;
        margin: auto;
        flex-direction: column;
        text-align:center;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 15px;
       
    }

}



@media (max-width: 600px) {

    .skills_icons{
       top: 20px;
        grid-template-rows: repeat(6,1fr);
        grid-template-columns: repeat(2,1fr);
    }

    .skills_icons > div {
        height: 80px;
        width: 100px;
        padding: 25px;
        margin: auto;
        flex-direction: column;
        text-align:center;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 15px;
       
    }

}