
#home-main{
   
    position: relative;
    top: 70px;
}

.home-parent{
    width: 90%;
    margin: auto;
    /* border: 2px solid red; */
    height:100vh;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: space-evenly;
}



#user-detail-name{
  margin-top: 50px;
  color: aliceblue;
  font-size: 65px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.typeWritter{
    font-size: 25px; 
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#my-intro{
    padding: 10px;
    text-align: start;
    width: 50%;
    margin: auto;
    color: aliceblue;
    font-weight: bold;
    line-height:2rem;
    font-size: 18px;
}

.contact-icon{
    color: aliceblue;
    font-size: 23px;
    display: grid;
    grid-template-columns: repeat(6,40px);
    justify-content: center;
    cursor: pointer;
}

.contact-icon>div:hover{
    color: rgb(35, 82, 143);
    padding: 3px;
    text-decoration-line: underline;
}



@media (max-width: 800px) {
 
    #user-detail-name{
       
      font-size: 40px;
    }
    
    
    .typeWritter{
        font-size: 23px; 
    }
    
    #my-intro{
        font-weight: bold;
        width: 60%;
        line-height: 1.5rem;
        font-size: 16px;
    }
    
    .contact-icon{
        color: aliceblue;
        font-size: 23px;
        display: grid;
        grid-template-columns: repeat(6,40px);
        justify-content: center;
        cursor: pointer;
    }
    
    .contact-icon>div:hover{
        color: rgb(35, 82, 143);
        padding: 3px;
        text-decoration-line: underline;
    }

    
    
  }







