#contact{
    /* border: 1px solid red; */
     height: 50vh;
     width: 90%;
     margin: auto;
}



.contact-me{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    height:auto;
    position: relative;
    top: 100px;
}

.contact-me>div>a>svg{
    font-size: 75px;
    font-weight: bold;
    color: rgb(64, 197, 47);
    padding: 8px;
}

.contact-me>div>a>svg:hover{
   padding: 1px;
   transition: 1s;
}